@use "./utils/utils" as *;

$top_displacement: 30vh;

body {
	@include body();

	.header {
		@include header();

		top: -7vh;
		left: 0;
		z-index: 1;

		animation: grow_header linear;
		animation-timeline: scroll();
		animation-range-start: 30%;
		animation-range-end: 50%;
		animation-fill-mode: forwards;
		#link_holder {
			width: 90%;
			display: flex;
			justify-content: space-between;
			.header_links {
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				width: 30%;
				height: 100%;

				a {
					border: 1px solid white;
					border-radius: 5px;
					width: 35%;
					text-align: center;
					color: white;
					text-decoration: none;
					padding: 10px;
				}

				a:hover {
					background-color: rgba(65, 65, 65, 0.5);
				}
			}
		}
		button {
			background-color: black;
			color: white;
			border: 1px solid white;
			border-radius: 5px;
			padding: 3px;
		}

		button:hover {
			cursor: pointer;
		}
	}

	#main {
		@include main();
		width: 100vw;
		height: fit-content;
		margin: 0;

		h1 {
			font-size: 9em;
			color: white;
			position: fixed;
			width: 100%;
			text-align: center;
			margin: 0;
			z-index: 1;
			top: 0;
			pointer-events: none;

			animation: move_title linear;
			animation-timeline: scroll();
			animation-range-end: 30%;
			animation-fill-mode: forwards;
		}

		#title {
			width: 100%;
			display: flex;
			justify-content: center;
			position: relative;
			img {
				width: 100%;
			}
		}

		#intro {
			@include intro(35vh);
		}

		#snippet_holder {
			position: relative;
			margin-top: 10vh;
			width: 100%;

			.narrow_image { display: none; }

			.snippet {
				width: 100%;
				height: fit-content;
				margin-top: 20px;
				margin-bottom: 20px;
				position: relative;
				//padding-bottom: 20px; 

				.container {
					width: 48%;
					height: fit-content;
					display: flex;
					position: relative;

					#back {
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 110%;
						bottom: 0;
						left: 0;
					}

					.info {
						width: 60%;
						height: fit-content;
						position: relative;

						h2 {
							font-size: large;
							width: 100%;
							margin-left: 5px;
							border-bottom: 2px solid black;
						}

						p {
							font-size: 1.2em;
							width: 100%;
							height: fit-content;
							margin: 10px 5px 10px 5px;
						}

						a {
							position: absolute;
							right: 5px;
							font-size: 1.2em;

							margin-left: 5px;
							margin-bottom: 10px;
							color: black;
							text-decoration: none;
						}
					}

					#image {
						width: 30%;
						height: auto;
					}
				}
			}

			.left {
				position: relative;
				left: 50%;
				right: 0;

				.container  {
					left: 6%;
					#back {
						-webkit-transform: scaleX(-1); 
						transform: scaleX(-1);
						margin-left: 0;
						width: 100%;
						height: 110%;
						left: -10%;
					}
				}
			}
		}

		@include footer();
	}
}

@keyframes move_title {
	to { 
		top: 0;
		font-size: 3em;
	}
}

@keyframes grow_header {
	to {
		top: 0vh;
	}
}


/////////////////
//Narrow screen
@mixin narrowScreen() {
	body {
		@include body();
		.header {
			@include narrow_header();
			top: 0;
			animation: none;
			height: fit-content;
			#link_holder {
				justify-content: space-around;

				.header_links {
					width: 100%;
					flex-direction: column;
					a { 
						width: fit-content;
						min-width: 50%;
						font-size: 0.7em; 
						padding: 5px;
						margin: 2px;
					}
				}
			}
		}

		#main {
			top: 20vh;

			h1 {
				font-size: 2.5em;
				animation: none;
				position: relative;
				z-index: 0;
			}

			#title { display: none; }

			#intro { @include narrow_intro(13vh); }

			#snippet_holder {
				width: 100%;
				
				.narrow_image {
					display: flex;
					justify-content: center;
					position: relative;
					#back {
						display: none;
						position: absolute;
						z-index: -1;
						width: 100%;
						height: 30vh;
					}
					#image {
						height: 35vh;
						width: auto;
					}
				}

				.snippet {
					width: 100%;
					margin-top: 5vh;
					margin-bottom: 10vh;

					.container {
						width: 90%;

						.info {
							width: 100%;
							//h2 { font-size: max($small_title, 1.5em); }
							//p { font-size: max($small_font, 1.3em); }
							h2 { font-size: $small_title; }
							p { font-size: $small_font; }
							a { font-size: 1.1em; }
						}

						#image { display: none; }

						#back {
							top: 0;
							width: 110%;
							height: 120%;
							-webkit-transform: scaleX(1); 
							transform: scaleX(1);
						}
					}
				}

				.left {
					left: 0;
					.container {
						left: 0;
						#back { 
							left: 0;
							width: 110%;
						}
					}
				}
			}

			@include narrow_footer();
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrowScreen();

}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrowScreen();

	body {
		.header { 
			height: 11vh;
			max-height: 50px;
			a {
				font-size: 1em;
			}
		}
		#main {
			top: 50px;
			h1 { top: 50px; }

			#intro {
				@include narrow_intro(10vh);
				margin-top: 50px;
			}

			#snippet_holder {
				.narrow_image { display: none; }
				margin-top: 100px;

				.snippet {
					width: 100vw;
					margin-top: 50px;
					padding-bottom: 50px;

					.container {
						width: 90vw;
						align-items: center;
						#back {
							height: 120%;
							top: -2%;
						}
						#image {
							display: inline-block;
							width: 50vw;
							max-width: 300px;
							height: auto;
						}
					}
				}
			}

			@include narrow_footer();
			#footer {
				height: fit-content;

				a {
					width: 20vw;
					height: fit-content;
					line-height: 1em;
					margin-top: 10px;
				}
			}
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}