@use "../../../utils/utils" as *;

section {
	background-color: transparent;
}

section-title {
	display: block;
	width: 100vw;
	height: fit-content;
	font-size: 2em;
	text-align: center;
	color: white;
	border-bottom: 2px dashed white;
	margin-bottom: 20px;
	padding-bottom: 2px;
}

sidebar-fixed {
	media-displayer {
		width: 100%;
	}
}

sticky-header {
	border-bottom: 2px dashed white;

	div {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		link-list {
			margin-right: 20px;
			a {
				border-left: 2px solid white;
				border-right: 2px solid white;
				border-radius: 5px;
				padding: 0 5px 0 5px;
				font-size: large;
			}
		}

		#title {
			pointer-events: none;
			position: absolute;
			width: 100vw;
			text-align: center;
		}

		a {
			margin-left: 10px;
			text-decoration: none;
			h1 {
				width: fit-content;
				color: white;
			}
		}
	}
}

title-card {
	.card {
		position: relative;
		flex: 0 0 100%;

		img {
			width: 100%;
			height: auto;
		}

		h1 {
			color: white;
			position: absolute;
			width: 40%;
			left: 30%;
			top: 40%;
			background-color: rgba(black, 0.7);
			text-align: center;
			padding: 5px;
		}

		p {
			position: absolute;
			color: white;
			width: 35%;
			left: 32.5%;
			top: 50%;
			background-color: rgba(black, 0.9);
			text-align: center;
			padding: 5px;
			font-size: large;
		}
	}
}

footer {
	simple-contact {
		a {
			font-size: xx-large;
		}
	}
}


$radius: 20px;
#text-column {
	row {
		width: 100%;

		text-column {
			background-color: white;
			margin: 5px;
			width: 30%;
			max-height: 50vh;
			border-top-left-radius: $radius;
			border-bottom-left-radius: $radius;

			h1 {
				border-bottom: 2px solid black;
			}
		}

		text-column:last-child {
			border-top-right-radius: $radius;
			border-bottom-right-radius: $radius;
			border-top-left-radius: 0px;
			border-bottom-left-radius: 0px;
		}

		column {
			margin: 5px;
			width: 20%;
			text-column {
				width: 100%;
				max-height: 60vh;
				border-top-left-radius: $radius;
				border-top-right-radius: $radius;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
				padding: 5px;
			}
			text-column:last-child {
				border-top-left-radius: 0px;
				border-top-right-radius: 0px;
				border-bottom-left-radius: $radius;
				border-bottom-right-radius: $radius;
			}
		}
	}
}


#cards {
	custom_center {
		row {
			card-img {
				width: 300px;
				height: 500px;
				margin: 10px;
			}
			column {
				justify-items: center;
				card-img {
					width: 500px;
					height: 300px;
					card {
						background-color: transparent;
						content {
							position: relative;
							background-color: transparent;
							background-image: linear-gradient(to left, transparent, white 10% 90%, transparent);
							height: 70%;
							display: flex;
							flex-direction: column;
							justify-content: center;
							align-items: center;
							h3 { width: 80%; }
							p { width: 80%; }
						}
					}
				}
				card-img:last-child {
					width: 300px;
					height: 150px;
					card {
						background-color: gray;
						content {
							background-color: white;
							background-image: none;
							display: block;
							height: 90%;
							h3 { width: 100%; }
							p { width: 100%; }
						}
					}
				}
			}
		}
	}
}

#media-displayers {
	text-column {
		color: white;
		width: 50%;
		font-size: 1.5em;
	}

	//display: flex;
	//justify-content: center;
	//align-items: center;
	grid-generator {
		justify-content: center;
		gap: 10px;
	}
	media-displayer {
		width: 500px;
		height: 300px;
	}
	media-displayer:hover {
		cursor: pointer;
	}
	.red {
		border-style: dashed;
		position: relative;
	}
}

//Narrow screen
@mixin narrowScreen() {
	sticky-header {
		div {
			justify-content: center;
			#title { display: none; }
			link-list { display: none; }

			a {
				position: relative;
				right: 25%;
				margin: 0;
				h1 { margin: 0; }
			}
		}
	}

	title-card {
		.card {
			h1 {
				width: 70%;
				left: 15%;
				top: 10%;
			}

			p {
				width: 50%;
				left: 25%;
				top: 40%;
			}
		}
	}

	#text-column {
		row {
			text-column {
				width: 80%;
				max-height: 100vh;
			}

			text-column:first-child {
				border-top-left-radius: $radius;
				border-top-right-radius: $radius;
				border-bottom-left-radius: 0px;
				border-bottom-right-radius: 0px;
			}

			text-column:last-child {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: $radius;
				border-bottom-right-radius: $radius;
			}

			column {
				width: 80%;
				#c_text_1 {
					border-top-left-radius: 0;
					border-top-right-radius: 0;
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}

	#cards {
		custom_center {
			row {
				justify-content: center;
				card-img {
					width: 80vw;
					height: 80vh;
				}
				column {
					card-img {
						width: 80vw;
						height: 80vh;
					}
					card-img:last-child {
						width: 150px;
						height: 300px;
					}
				}
			}
		}
	}

	#media-displayers {
		text-column { width: 80%; }
		grid-generator {
			align-items: center;
		}
		media-displayer {
			width: 90vw;
			max-height: fit-content;
		}
	}

	sidebar-fixed {
		media-displayer.vertical {
			width: 100%;
			border: none;
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrowScreen();
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrowScreen();

	#cards {
		custom_center {
			row {
				card-img {					
					height: 500px;
					width: 300px;
				}
				column {
					card-img:last-child {
						width: 300px;
						height: 150px;
					}
				}
			}
		}
	}

	footer {
		height: 20vh;
		simple-contact {
			a {
				font-size: x-large;
			}
		}
	}

	#media-displayers {
		media-displayer {
			width: 500px;
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	#cards {
		custom_center {
			row {
				card-img {
					width: 250px;
					height: 400px;
				}
				column {
					card-img {
						width: 400px;
						height: 250;
					}
				}
				//flex-direction: column;
			}
		}
	}

	sticky-header {
		div {
			#title {
				display: none;
			}
		}
	}

	#text-column {
		row {
			text-column {
				background-color: white;
				margin: 5px;
				width: 30%;
				max-height: 50vh;
				border-top-left-radius: $radius;
				border-bottom-left-radius: $radius;

				h1 {
					border-bottom: 2px solid black;
				}
			}

			text-column:last-child {
				border-top-right-radius: $radius;
				border-bottom-right-radius: $radius;
				border-top-left-radius: 0px;
				border-bottom-left-radius: 0px;
			}

			column {
				margin: 5px;
				width: 30%;
				text-column {
					width: 100%;
					max-height: 60vh;
					border-top-left-radius: $radius;
					border-top-right-radius: $radius;
					border-bottom-left-radius: 0px;
					border-bottom-right-radius: 0px;
					padding: 5px;
				}
				text-column:last-child {
					border-top-left-radius: 0px;
					border-top-right-radius: 0px;
					border-bottom-left-radius: $radius;
					border-bottom-right-radius: $radius;
				}
			}
		}
	}

	#media-displayers {
		media-displayer {
			width: 500px;
		}
	}
}