$narrow: 500px;
$medium: 1030px;
$wide: 1500px;

$small_title: 1em;
$small_font: 1em;

@mixin body() {
	background-color: black;
	overflow-x: hidden;
	width: 100vw;
	margin: 0;
}

@mixin main() {
	@include top_displacement();
	width: 100vw;
	height: fit-content;
	min-height: 100vh;
	margin: 0;
	position: relative;
}

@mixin header() {
	width: 100vw;
	height: 6vh;
	background-color: black;
	margin: 0;
	position: fixed;
	z-index: 1;
	display: flex;
	align-items: center;
	border-bottom: 2px dashed white;
	top: 0;
}

@mixin narrow_header() {
	@include header();
	margin-bottom: 10px;
}

@mixin intro($top: 10vh) {
	width: 100vw;
	height: fit-content;
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: 5vh;
	
	p {
		width: 50vw;
		line-height: 1.4em;
		font-size: 1.5em;
		color: white;
		margin: 0px 15px 0px 15px;
	}
}

@mixin narrow_intro($top: 10vh) {
	@include intro($top);
	p { 
		width: 90vw;
		line-height: 1.2em;
		font-size: 1.2em;
	}
}

@mixin sub_page_header() {
	@include header();
	padding: 0;
	top: 0;
	left: 0;
	text-align: center;
	
	a {
		text-decoration: none;
		h1 {
			width: fit-content;
		}
	}

	h1 {
		color: white;
		line-height: 100%;
		display: inline;
		width: 80vw;
	}
}

@mixin narrow_sub_page_header() {
	@include narrow_header();
	@include sub_page_header();
	
	a {
		width: fit-content;
		h1 { font-size: 1.2em; }
	}

	h1 { 
		width: 65vw; 
		font-size: 1.5em;
	}
}

@mixin top_displacement($top: 20vh) {
	position: relative;
	top: $top;
}

@mixin footer() {
	#footer {
		width: 100vw;
		height: 10vh;
		max-height: 60px;

		position: relative;
		bottom: -10vh;
		margin-top: 10vh;
		display: flex;
		align-items: center;
		justify-content: center;
		
		border-top: 2px dashed white;

		a {
			text-decoration: none;
			color: white;
			outline: white solid 2px;
			text-align: center;
			line-height: 1em;
			border-radius: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding: 1% 5% 1% 5%;
		}

		a:hover {
			background-color: rgba(65, 65, 65, 0.5);
		}
	}
}

@mixin narrow_footer($top: 30vh) {
	@include footer();
	#footer {
		height: 10vh;
		margin-top: 10vh;
		justify-content: space-evenly;

		a {
			width: 20vw;
			height: fit-content;
			line-height: 1em;
			font-size: 0.7em;
			padding: 2%;
		}
	}
}