full-screen-summary {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: fit-content;
	width: fit-content;

	button {
		border: none;
	}
}

full-screen {
	display: none;
}

.full-screen-open {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 30px;
	width: 50px;
}