body {
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}
body #header {
  width: 100vw;
  height: 6vh;
  background-color: black;
  margin: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px dashed white;
  top: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
}
body #header a {
  text-decoration: none;
}
body #header a h1 {
  width: -moz-fit-content;
  width: fit-content;
}
body #header h1 {
  color: white;
  line-height: 100%;
  display: inline;
  width: 80vw;
}
body #main {
  position: relative;
  top: 20vh;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  top: 10vh;
}
body #main #intro {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #main #intro p {
  color: white;
  font-size: 2em;
  width: 50vw;
  text-align: center;
}
body #main #sample_links {
  height: 50vh;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  width: 100vw;
}
body #main #sample_links #grid {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-template-rows: 100px 100px;
  gap: 10px;
}
body #main #sample_links #grid a {
  color: white;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  background-color: black;
}
body #main #sample_links #grid a h3 {
  line-height: 100px;
  text-align: center;
  margin: 0;
}
body #main #sample_links #grid a p {
  display: none;
  margin: 5px;
}
body #main #sample_links #grid a:hover {
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  position: relative;
}
body #main #sample_links #grid a:hover h3 {
  line-height: 50px;
}
body #main #sample_links #grid a:hover p {
  display: block;
}
body #main #sample_links #grid a:nth-of-type(1):hover {
  right: 100%;
  bottom: 100%;
}
body #main #sample_links #grid a:nth-of-type(2):hover {
  bottom: 100%;
}
body #main #sample_links #grid a:nth-of-type(3):hover {
  right: 100%;
}
body #main #footer {
  width: 100vw;
  height: 10vh;
  position: relative;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px dashed white;
}
body #main #footer a {
  text-decoration: none;
  color: white;
  outline: white solid 2px;
  text-align: center;
  line-height: 1em;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1% 5% 1% 5%;
}
body #main #footer a:hover {
  background-color: rgba(65, 65, 65, 0.5);
}

@media screen and (max-width: 500px) {
  body #main #header {
    width: 100vw;
    height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    margin-bottom: 10px;
    width: 100vw;
    height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
  }
  body #main #header a {
    text-decoration: none;
  }
  body #main #header a h1 {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #main #header h1 {
    color: white;
    line-height: 100%;
    display: inline;
    width: 80vw;
  }
  body #main #header a {
    width: 30vw;
  }
  body #main #header a h1 {
    font-size: 1.2em;
  }
  body #main #header h1 {
    width: 65vw;
    font-size: 1.5em;
  }
  body #main #intro p {
    font-size: 1.5em;
    width: 90vw;
  }
  body #main #sample_links {
    height: 50vh;
  }
  body #main #footer {
    width: 100vw;
    height: 10vh;
    position: relative;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed white;
  }
  body #main #footer a {
    text-decoration: none;
    color: white;
    outline: white solid 2px;
    text-align: center;
    line-height: 1em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1% 5% 1% 5%;
  }
  body #main #footer a:hover {
    background-color: rgba(65, 65, 65, 0.5);
  }
  body #main #footer {
    height: 10vh;
    margin-top: 10vh;
    justify-content: space-evenly;
  }
  body #main #footer a {
    width: 20vw;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1em;
    font-size: 0.7em;
    padding: 2%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1030px) {
  body #main #header {
    width: 100vw;
    height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    margin-bottom: 10px;
    width: 100vw;
    height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
  }
  body #main #header a {
    text-decoration: none;
  }
  body #main #header a h1 {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #main #header h1 {
    color: white;
    line-height: 100%;
    display: inline;
    width: 80vw;
  }
  body #main #header a {
    width: 30vw;
  }
  body #main #header a h1 {
    font-size: 1.2em;
  }
  body #main #header h1 {
    width: 65vw;
    font-size: 1.5em;
  }
  body #main #intro p {
    font-size: 1.5em;
    width: 90vw;
  }
  body #main #sample_links {
    height: 50vh;
  }
  body #main #footer {
    width: 100vw;
    height: 10vh;
    position: relative;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed white;
  }
  body #main #footer a {
    text-decoration: none;
    color: white;
    outline: white solid 2px;
    text-align: center;
    line-height: 1em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1% 5% 1% 5%;
  }
  body #main #footer a:hover {
    background-color: rgba(65, 65, 65, 0.5);
  }
  body #main #footer {
    height: 10vh;
    margin-top: 10vh;
    justify-content: space-evenly;
  }
  body #main #footer a {
    width: 20vw;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1em;
    font-size: 0.7em;
    padding: 2%;
  }
  body #main #header {
    height: 12vh;
  }
  body #main #footer {
    height: 13vh;
  }
  body #main #footer a {
    height: 60%;
    line-height: 2em;
  }
}/*# sourceMappingURL=index.css.map */