body {
  background-color: black;
  overflow-x: hidden;
  width: 100vw;
  margin: 0;
}
body #header {
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 6vh;
  background-color: black;
  margin: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  border-bottom: 2px dashed white;
  top: 0;
  padding: 0;
  top: 0;
  left: 0;
  text-align: center;
}
body #header a {
  text-decoration: none;
}
body #header a h1 {
  width: -moz-fit-content;
  width: fit-content;
}
body #header h1 {
  color: white;
  line-height: 100%;
  display: inline;
  width: 80vw;
}
body #main {
  position: relative;
  top: 20vh;
  width: 100vw;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 100vh;
  margin: 0;
  position: relative;
  top: 10vh;
}
body #main #intro {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #main #intro p {
  color: white;
  font-size: 2em;
  width: 50vw;
  text-align: center;
}
body #main #sample_links {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5vh;
  width: 100vw;
}
body #main #sample_links .section {
  margin-top: 100px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 10px;
  justify-content: center;
}
body #main #sample_links .section text-column {
  margin: 10px 30px 10px 10px;
  font-size: 1.2em;
  width: 30%;
}
body #main #sample_links .section text-column h1 {
  border-bottom: 2px solid white;
}
body #main #sample_links .section grid-generator {
  width: 50%;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 10px;
}
body #main #sample_links .section grid-generator media-displayer {
  width: 300px;
}
body #main #sample_links .section a {
  text-decoration: none;
  color: white;
}
body #main #sample_links #tyokalut .info column {
  align-items: start;
  margin-bottom: 10px;
}
body #main #sample_links #tyokalut .info column a {
  position: static;
  text-decoration: underline;
}
body #main #footer {
  width: 100vw;
  height: 10vh;
  max-height: 60px;
  position: relative;
  bottom: -10vh;
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px dashed white;
}
body #main #footer a {
  text-decoration: none;
  color: white;
  outline: white solid 2px;
  text-align: center;
  line-height: 1em;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 1% 5% 1% 5%;
}
body #main #footer a:hover {
  background-color: rgba(65, 65, 65, 0.5);
}

@media screen and (max-width: 500px) {
  body #header {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    margin-bottom: 10px;
    width: 100vw;
    height: fit-content;
    min-height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
  }
  body #header a {
    text-decoration: none;
  }
  body #header a h1 {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #header h1 {
    color: white;
    line-height: 100%;
    display: inline;
    width: 80vw;
  }
  body #header a {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #header a h1 {
    font-size: 1.2em;
  }
  body #header h1 {
    width: 65vw;
    font-size: 1.5em;
  }
  body #main #intro p {
    font-size: 1.5em;
    width: 90vw;
  }
  body #main #sample_links {
    height: -moz-fit-content;
    height: fit-content;
  }
  body #main #sample_links .section {
    flex-direction: column;
  }
  body #main #sample_links .section text-column {
    width: 90%;
  }
  body #main #sample_links .section grid-generator {
    margin: 0;
    width: 100%;
  }
  body #main #footer {
    width: 100vw;
    height: 10vh;
    max-height: 60px;
    position: relative;
    bottom: -10vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed white;
  }
  body #main #footer a {
    text-decoration: none;
    color: white;
    outline: white solid 2px;
    text-align: center;
    line-height: 1em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1% 5% 1% 5%;
  }
  body #main #footer a:hover {
    background-color: rgba(65, 65, 65, 0.5);
  }
  body #main #footer {
    height: 10vh;
    margin-top: 10vh;
    justify-content: space-evenly;
  }
  body #main #footer a {
    width: 20vw;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1em;
    font-size: 0.7em;
    padding: 2%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1030px) {
  body #header {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    margin-bottom: 10px;
    width: 100vw;
    height: fit-content;
    min-height: 6vh;
    background-color: black;
    margin: 0;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed white;
    top: 0;
    padding: 0;
    top: 0;
    left: 0;
    text-align: center;
  }
  body #header a {
    text-decoration: none;
  }
  body #header a h1 {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #header h1 {
    color: white;
    line-height: 100%;
    display: inline;
    width: 80vw;
  }
  body #header a {
    width: -moz-fit-content;
    width: fit-content;
  }
  body #header a h1 {
    font-size: 1.2em;
  }
  body #header h1 {
    width: 65vw;
    font-size: 1.5em;
  }
  body #main #intro p {
    font-size: 1.5em;
    width: 90vw;
  }
  body #main #sample_links {
    height: -moz-fit-content;
    height: fit-content;
  }
  body #main #sample_links .section {
    flex-direction: column;
  }
  body #main #sample_links .section text-column {
    width: 90%;
  }
  body #main #sample_links .section grid-generator {
    margin: 0;
    width: 100%;
  }
  body #main #footer {
    width: 100vw;
    height: 10vh;
    max-height: 60px;
    position: relative;
    bottom: -10vh;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 2px dashed white;
  }
  body #main #footer a {
    text-decoration: none;
    color: white;
    outline: white solid 2px;
    text-align: center;
    line-height: 1em;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 1% 5% 1% 5%;
  }
  body #main #footer a:hover {
    background-color: rgba(65, 65, 65, 0.5);
  }
  body #main #footer {
    height: 10vh;
    margin-top: 10vh;
    justify-content: space-evenly;
  }
  body #main #footer a {
    width: 20vw;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 1em;
    font-size: 0.7em;
    padding: 2%;
  }
  body #header {
    height: 12vh;
    max-height: 50px;
  }
  body #main #intro {
    height: -moz-fit-content;
    height: fit-content;
  }
  body #main #intro p {
    font-size: 1.5em;
    width: 90vw;
  }
  body #main #sample_links {
    height: -moz-fit-content;
    height: fit-content;
    min-height: 55vh;
  }
  body #main #sample_links .section {
    flex-direction: column;
  }
  body #main #sample_links .section .media_grid {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 150px);
    justify-content: center;
  }
  body #main #footer {
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 5px;
  }
  body #main #footer a {
    line-height: 1em;
  }
}/*# sourceMappingURL=index.css.map */