@use "../utils/utils" as *;

body {
	@include body();

	#header {
		@include sub_page_header();
	}

	#main {
		@include main();
		top: 10vh;

		#intro {
			height: 30vh;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				color: white;
				font-size: 2em;
				width: 50vw;
				text-align: center;
			}
		}

		#sample_links {
			height: 50vh;
			margin-top: 5vh;
			display: flex;
			justify-content: center;
			width: 100vw;

			#grid {
				display: grid;
				grid-template-columns: 100px 100px;
				grid-template-rows: 100px 100px;
				gap: 10px;
				a {
					color: white;
					text-decoration: none;
					border: 2px solid white;
					border-radius: 5px;
					background-color: black;

					h3 {
						line-height: 100px;
						text-align: center;
						margin: 0;
					}

					p {
						display: none;
						margin: 5px;
					}
				}

				a:hover {
					width: fit-content;
					height: auto;
					position: relative;

					h3 { line-height: 50px; }

					p { display: block; }
				}

				a:nth-of-type(1):hover {
					right: 100%;
					bottom: 100%
				}

				a:nth-of-type(2):hover {
					bottom: 100%;
				}

				a:nth-of-type(3):hover {
					right: 100%;
				}
			}
		}

		@include footer();
	}
}

//Narrow screen
@mixin narrowScreen() {
	body {
		#header {
			@include narrow_sub_page_header();
		}
		#main {

			#intro {
				p {
					font-size: 1.5em;
					width: 90vw;
				}
			}

			#sample_links {
				height: fit-content;
			}

			@include narrow_footer();
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrowScreen();
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrowScreen();

	body {
		#header { 
			height: 12vh; 
			max-height: 50px;
		}
		#main {
			#intro {
				height: fit-content;
				p {
					font-size: 1.5em;
					width: 90vw;
				}
			}

			#sample_links {
				height: fit-content;
				min-height: 55vh;
			}

			#footer { 
				//top: 50px;
				height: fit-content;
				padding-top: 5px;
				a {
					line-height: 1em;
				}
			}
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}