@use "../utils/utils" as *;

body {
	@include body();

	#header {
		@include sub_page_header();
	}

	#main {
		@include main();
		top: 10vh;

		#intro {
			height: 30vh;
			display: flex;
			justify-content: center;
			align-items: center;
			p {
				color: white;
				font-size: 2em;
				width: 50vw;
				text-align: center;
			}
		}

		#sample_links {
			height: fit-content;
			margin-top: 5vh;
			width: 100vw;

			.section {
				margin-top: 100px;
				width: 100%;
				height: fit-content;
				display: flex;
				color: white;
				border-bottom: 2px solid white;
				padding-bottom: 10px;
				justify-content: center;

				text-column {
					margin: 10px 30px 10px 10px;
					font-size: 1.2em;
					width: 30%;

					h1 {
						border-bottom: 2px solid white;
					}
				}

				grid-generator {
					width: 50%;
					align-items: center;
					justify-content: center;
					align-content: center;
					gap: 10px;
					media-displayer {
						width: 300px;
					}
				}

				a {
					text-decoration: none;
					color: white;
				}
			}

			#tyokalut {
				.info {
					column {
						align-items: start;
						margin-bottom: 10px;
						a {
							position: static;
							text-decoration: underline;
						}
					}
				}
			}
		}

		@include footer();
	}
}

//Narrow screen
@mixin narrowScreen() {
	body {
		#header {
			@include narrow_sub_page_header();
		}
		#main {
			#intro {
				p {
					font-size: 1.5em;
					width: 90vw;
				}
			}

			#sample_links {
				height: fit-content;

				.section {
					flex-direction: column;

					text-column {
						width: 90%;
					}

					grid-generator {
						margin: 0;
						width: 100%;
					}
				}
			}

			@include narrow_footer();
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrowScreen();
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrowScreen();

	body {
		#header { 
			height: 12vh; 
			max-height: 50px;
		}
		#main {
			#intro {
				height: fit-content;
				p {
					font-size: 1.5em;
					width: 90vw;
				}
			}

			#sample_links {
				height: fit-content;
				min-height: 55vh;

				.section {
					flex-direction: column;

					.media_grid {
						grid-template-columns: repeat(2, 300px);
						grid-template-rows: repeat(5, 150px);
						justify-content: center;
					}
				}
			}

			#footer { 
				height: fit-content;
				padding-top: 5px;
				a {
					line-height: 1em;
				}
			}
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}