@use "../utils/utils" as *;

@mixin skill_cordinates($x, $y, $length, $height) {
	grid-row-start: $y;
	grid-row-end: $y+$height;
	grid-column-start: $x; 
	grid-column-end: $x+$length;
}

body {
	@include body();
	#header {
		@include sub_page_header();
	}

	#main {
		@include main();

		#intro {
			display: flex;
			justify-content: center;
			width: 100vw;
			height: 30vh;
			p {
				color: white;
				text-align: center;
				width: 50vw;
				font-size: 2em;
			}
		}

		#art {
			width: 99vw;
			height: fit-content;

			grid-generator {
				justify-items: center;
				align-items: center;
				align-content: center;
				gap: 10px;
				media-displayer {
					max-width: 30vw;
				}
			}
		}

		@include footer();
	}
}

//Narrow screen
@mixin narrowScreen() {
	body {
		#header {
			@include narrow_sub_page_header();
		}
		
		#main {
			#intro {
				height: fit-content;
				p {
					width: 90vw;
					font-size: 1.5em;
				}
			}

			#art {
				margin-top: 100px;
				width: 99vw;
				height: fit-content;

				grid-generator {
					media-displayer {
						max-width: 90vw
					}
				}
			}

			@include narrow_footer();
		}
	}
}

//narrow screen
@media screen and (max-width: $narrow) {
	@include narrowScreen();
}

//medium screen
@media screen and (min-width: $narrow) and (max-width: $medium) {
	@include narrowScreen();

	body {
		#header { 
			height: 13vh;
			max-height: 60px;
		}
		#main {
			top: 100px;
			#art {
				grid-generator {
					media-displayer {
						max-width: 48vw;
					}
				}
			}

			#footer { a { line-height: 1em; } }
		}
	}
}

//wide screen
@media screen and (min-width: $medium) and (max-width: $wide) {
	
}